/*colors*/
:root {
    --primaryOne: #04B4E0;
    --primaryTwo: #ffffff;
    --primaryThree: #222;
    --primaryFour: #666;
    --secondaryOne: #555;
    --secondaryTwo: #aaa;
    --secondarythree: #d5d5d5;
}
/*colors*/
body {
    overflow-x: hidden;
    
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

h1 {
    font-weight: bold;
}
.m-s {
    margin-bottom: 3%;
}
@keyframes exampleImg {
  0%   {  border-color: var(--primaryOne);}
  100% {  border-color: var(--primaryTwo);}
}
/*animation*/
/*

@keyframes exampleImgIn {
  0%   {  opacity: 0; top: 200px;}
  100% {  opacity: 1; top: 0px}
}
@keyframes exampleTextIn {
  from {left: 100%}
  to {left: 0%;}
}
@keyframes exampleImgOut {
  from {right: 0%}
  to {right: 100%;}
}
@keyframes exampleTextOut {
  from {left: 0%}
  to {left: 100%;}
}
@keyframes exampleWork {
  0%   {  opacity: 0; top: 200px;}
  100% {  opacity: 1; top: 0%;}
}

@keyframes exampleWorkOut {
  from {opacity: 1}
  to {opacity: 0;}
}
@keyframes cv {
  from {transform: scale(0)}
  to {transform: scale(1);}
}
@keyframes cvOut {
  from {transform: scale(1)}
  to {transform: scale(0);}
}
*/
/*animation*/


/*start navbar*/
.navbar {
    z-index: 999;
    background-color: var(--primaryOne);
    width: 100%;
}
.navbar-default .navbar-toggle {
    border-color: var(--primaryTwo);
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: var(--primaryTwo);
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background: transparent;
}
.navbar .navbar-header a {
    color: var(--primaryTwo);
}
.navbar .navbar-header a:hover {
    color: var(--primaryTwo);
}
.navbar-default .navbar-nav li a {
    color: var(--primaryTwo);
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 12px;
}
.navbar-default .navbar-nav li a:hover {
    color: var(--primaryTwo);
}
/*end navbar*/
/*start fixed section*/
.sidenav {
    height: 100%;
    width: 800px;
    position: fixed;
    top: 0;
    
}
.sidenav .first-side {
    display: inline-block;
    background-color: #fff;
    height: 100%;
    width: auto;
    padding-top: 20px;
        
}
.sidenav .sec-side {
    display: inline-block;
    background-color: #04B4E0;
    min-height: 100%;
    width: 420px;
    position: absolute;
}
/* Style the sidenav links and the dropdown button */
.sidenav .first-side i {
    display: block;
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
    cursor: pointer;
}
.sidenav .first-side a{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    color: var(--primaryThree);
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
}
.sidenav .sec-side .content {
    margin-top: 12%;
}
.sidenav .sec-side .content img {
    border-radius: 50%;
    border: 3px solid var(--primaryTwo);
}
.sidenav .sec-side .content h1 {
    color: var(--primaryTwo);
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2em;
}
.sidenav .sec-side .content p {
    font-size: 18px;
    font-weight: 300;
    color: var(--primaryTwo);
    line-height: 1.2em; 
    margin-bottom: 30px;
}
.sidenav .sec-side .content ul {
    display: inline;
    list-style: none;
    color: var(--primaryTwo);
    margin-right: 65px;
}
.sidenav .sec-side .content ul li {
    display: inline;
    margin-left: 20px;
}
.sidenav .sec-side .content ul li a {
    text-decoration: none;
    color: var(--primaryTwo);
    font-size: 20px;
}
.sidenav .sec-side .content .bt {
    margin-top: 60px;
    width: auto;
}
.sidenav .sec-side .content .btn {
    border: 2px solid var(--primaryTwo);
    border-radius: 50px;
    color: var(--primaryTwo);
    cursor: pointer;
    font-size: 20px;
    background-color: var(--primaryOne);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    outline: none;
}
.sidenav .sec-side .content .btn a {
    color: var(--primaryTwo);
    text-decoration: none;
}
.sidenav .sec-side .content .footer {
    width: 380px;
    position: fixed;
    bottom: 0;
    margin-left: 20px;
}
.sidenav .sec-side .content .footer p {
    font-size: 15px;
}
/* On mouse-over */
.sidenav .first-side a:hover :not(p){
    color: var(--primaryOne);
    transition: 0.5s;
    webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}
/* Add an active class to the active dropdown button */
.active {
    color: var(--primaryOne);
    transition: 1s;
    webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
}

/*end fixed section*/

/*start about me section*/
/* Main content */
.main {
    margin-left: 470px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    position: absolute;
    padding: 0px 10px;
    top: 20%;
    
}
 .work-examples {
    margin-left: 570px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    position: absolute;
    padding: 0px 10px;
    top: 5%;
}

.main .pic img {
    border-radius: 50%;
    border: 17px solid var(--primaryTwo);
    margin-top: 20px;
    box-shadow: 0 0px 25px 0px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 350px;
    animation-name: exampleImg;
    animation-timing-function: ease;
    animation-fill-mode: both;
     animation-delay: 0.5s;
    animation-duration: 1.5s;
}
.main .text {
    margin-left: -400px;
}

.main .text h4 {
    font-size: 16px;
    color: var(--secondaryTwo);
    font-weight: 300;
    margin-bottom: 10px;
}
.main .text h1 {
    font-size: 48px;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 20px;
}
.main .text p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.75em;
    color: var(--secondaryOne);
}
.main .text .bt-two {
    margin-top: 40px;
}
.main .text .bt-two .btn-one {
    margin-right: 10px;
    border: 2px solid var(--primaryOne);
    border-radius: 50px;
    background-color: var(--primaryTwo);
    cursor: pointer;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    outline: none;
    color: var(--primaryThree);
    text-decoration: none;
    font-size: 18px;
}

.main .text .bt-two .btn-one:hover {
    background-color: var(--primaryOne);
    color: var(--primaryTwo);
    transition: 0.5s;
}
.main .text .bt-two .btn-two {
    margin-right: 10px;
    border: 2px solid var( --secondarythree);
    border-radius: 50px;
    background-color: var(--primaryTwo);
    cursor: pointer;
    font-size: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    outline: none;
    color: var(--primaryFour);
    text-decoration: none;
    font-size: 18px;
}

.main .text .bt-two .btn-two:hover {
    background-color: var(--secondarythree);
    color: var(--primaryFour);
    transition: 0.5s;
}
/*end about me section*/

/*start contact section*/
.contact {
    margin-left: 570px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    position: absolute;
    padding: 0px 20px;
    top: 5%;
}
.contact .edit {
    margin-top: 50px;
}
.contact .edit h2 {
    font-size: 20px;
    font-weight: bold;
}
.contact .card {
    border: 2px solid var(--secondarythree);
    width: 320px;
    margin-right: 20px;
    border-radius: 15px;
    text-align: center;
    padding: 20px 10px;
    height: 150px;
}
.contact .card i {
    font-size: 35px;
    color: var(--primaryOne);
}
.contact .card .p-edit {
    font-size: 20px;
    font-weight: bold;
}
/*end contact section*/
/*start projects*/

.card-work {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 800px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}
.card-work img {
    width: 100%;
    height: 220px;
}
.card-work .corner {
    position: absolute;
    top: 0px;
    right: -8%;
    font-size: 15px;
    width: 200px;
    background-color: var(--primaryOne);
    transform: rotate(40deg);
    padding-left: 40px;
    color: var(--primaryTwo);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.card-work .corner-not {
    position: absolute;
    top: 0px;
    right: -8%;
    font-size: 14px;
    width: 200px;
    background-color: var(--secondarythree);
    transform: rotate(40deg);
    padding-left: 40px;
    color: var(--primaryFour);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-work button {
    border: 2px solid var(--primaryOne);
    background-color: var(--primaryTwo);
    outline: 0;
    padding: 12px;
    color: var(--primaryThree);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.card-work button a{
    color: var(--primaryThree);
    text-decoration: none;
}
.card-work button:hover {
    background-color: var(--primaryOne);
    color: var(--primaryTwo);
    transition: 0.5s;
}
.card-work p:first-of-type {
    height: 100px;
    margin-bottom: 15px;
}
.card-more {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 98%;
    height: 200px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.card-more:hover {
    transform: scale(0.9);
    transition: 0.3s;
}
.card-more img {
    width: 100%;
    height: 100%;
    
}
.card-more .corner{
    position: absolute;
    top: 0px;
    right: -8%;
    font-size: 15px;
    width: 200px;
    background-color: var(--primaryOne);
    transform: rotate(40deg);
    padding-left: 40px;
    color: var(--primaryTwo);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.card-more .corner-not{
    position: absolute;
    top: 0px;
    right: -8%;
    font-size: 12px;
    width: 200px;
    background-color: var(--secondarythree);
    transform: rotate(40deg);
    padding-left: 40px;
    color: var(--primaryFour);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
/*end projects*/
/*start cv*/
.cv {
    margin-left: 570px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    position: absolute;
    padding: 0px 20px;
    top: 5%;
}
.cv .card-cv {
    max-width: 800px;
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}
.cv h2 {
    font-weight: bold;
    font-size: 23px;
}
.cv h3 {
    font-weight: bold;
    font-size: 18px;
}
.cv h4 {
    color: var(--secondaryOne);
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 2px;
}
.cv h5 {
    color: var(--secondaryOne);
    font-size: 15px;
}
.cv i {
    font-size: 17px;
    margin-bottom: 8px;
}
.cv span {
    font-size: 16px;
    color: var(--secondaryOne);
}
.cv .list li {
    font-size: 15px;
    margin-bottom: 6px;
    list-style-type: none;
    color: var(--secondaryOne);
}
.cv .list li::before {
  content: "\002D";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
@keyframes example {
  from   {width: 0%;}
  to {width: 100%;}
    }

.card-cv .progress {
    height: 18px;
    border-radius: 9px;
    animation-name: example;
    animation-timing-function: ease;
    animation-delay: 1.5s;
    animation-fill-mode: both;
    animation-duration: 3s;
}
.progress-bar {
    background-color: var(--primaryOne);

}
.card-cv .progress .bar-p {
    color: var(--primaryTwo);
    text-align: center;
}
.card-cv .list-st li{
    display: inline-block;
    background-color: var(--primaryOne);
    border-radius: 3px;
    color: var(--primaryTwo);
    padding: 5px 10px;
    line-height: 1.2;
    margin: 3px 2px;
    font-size: 15px;
}
/*end cv*/

/* Some media queries for responsiveness */
@media screen and (max-width: 600px) {
    .navbar {
        width: 100%; 
    }
    .m {
        margin-left: 0%;
    }
  .main {
      margin-left: 0px;
      top: 10%;
      
    }
    .main .pic img {
        margin-top: 20px;
    }
    .main .text {
    margin-left: 0px;
}
    .main .text h1 {
        font-size: 40px;
    }
    .work-examples {
        margin-left: 0px;
        top: 10%;
    }
    .main .text .bt-two {
        margin-bottom: 40px;
    }
    .main .text .bt-two .btn-one {
        padding-left: 14px;
        padding-right: 14px;
    }
    .main .text .bt-two .btn-two {
        padding-left: 15px;
        padding-right: 15px;
    }
    .contact {
        margin-left: 0px;
        top: 10%;
        margin-left: 20px;
    }
    .contact .card {
        margin-bottom: 20px;
        width: 95%;
    }
    .cv {
        margin-left: 0%;
        top: 10%;
    }
}
@media screen and (min-width: 600px) {
    .m {
        margin-left: 0%;
    }
  .main {
      margin-left: 0px;
      top: 10%;
    }
    .main .pic img {
        margin-top: 20px;
    }
    .main .text {
    margin-left: 0px;
}
    .main .text h1 {
        font-size: 40px;
    }
    .work-examples {
        margin-left: 0px;
        top: 10%;
    }
    .main .text .bt-two {
        margin-bottom: 40px;
    }
    .main .text .bt-two .btn-one {
        padding-left: 14px;
        padding-right: 14px;
    }
    .main .text .bt-two .btn-two {
        padding-left: 15px;
        padding-right: 15px;
    }
    .contact {
        margin-left: 0px;
        top: 10%;
        margin-left: 20px;
    }
    .contact .card {
        margin-bottom: 20px;
        width: 95%;
    }
}
@media only screen and (min-width: 768px) {
    .navbar-default .navbar-nav li .cv-cv
    {
        display: none;
    }
    .main {
        margin-left: 0px;
        margin-top: 3%;
    }
    .sidenav {
        display: none;
    }
    .main .text {
        margin-left: 2%;
    }
    .work-examples {
        margin-left: 0px;
        margin-top: 3%;
    }
    .contact {
        margin-left: 10px;
        margin-top: 3%;
    }
    .contact .card {
        width: 95%;
    }
    .contact .card i {
        font-size: 35px;
    }
    .contact .edit h2 {
    font-size: 25px;
    font-weight: bold;
}
    .contact .card .p-edit {
        font-size: 25px;
    }
}
@media only screen and (min-width: 992px) {
    body {
        overflow-x: hidden;
    }
.sidenav .first-side .cv-cv{
        display: none;
    }
.sidenav .first-side .hr {
        display: none;
    }
.sidenav {
        display: inline-block;
    }
    .sidenav .sec-side .content{
        margin-top: 30%;
    }
    .m {
        margin-left: -2%;
    }
.main {
    margin-left: 520px; /* Same as the width of the sidenav */
    top: 40%;
    
}
.main .pic img {
    margin-top: 15%;
    width: 350px;
    height: 350px;
}
.main .text {
    margin-top: 6%;
    width: 400px;
}
    .main .text h4 {
        font-size: 20px;
    }
    .main .text h1 {
        font-size: 40px;
    }
    .main .text p {
        font-size: 23px;
    }
    .main .text .bt-two {
        margin-bottom: 40px;
    }
    .main .text .bt-two .btn-one {
        padding-left: 24px;
        padding-right: 24px;
    }
    .main .text .bt-two .btn-two {
        padding-left: 19px;
        padding-right: 19px;
    }
.work-examples {
        margin-left: 520px;
    }
.work-examples .work{
    margin-left: -1.5%;
    width: 95%;
    }
.contact {
        margin-left: 520px;
    }
.contact .card {
        margin-bottom: 8px;
        width: 90%;
    }
.contact .edit .card i {
    font-size: 30px;
    }
.contact .edit .card h2 {
    font-size: 23px;
    }
}
@media only screen and (min-width: 1200px) {
.sidenav .first-side .cv-cv{
        display: block;
    }
.sidenav .first-side .hr {
        display: block;
    }
.sidenav .sec-side .content{
        margin-top: 10%;
    }
.main {
    margin-left: 36%;
    top: -6%;
    
    
}
.main .pic img {
    margin-top: 20%;
    width: 350px;
    height: 350px;
}
.main .text {
    margin-left: -6%;
    margin-top: 6%;
}

.work-examples {
        margin-left: 39%;
        top: 0%;
    }
.work-examples .work{
    margin-left: -1.5%;
    width: 95%;
    }
    .contact {
        margin-left: 39%;
        top: 0%;
    }
    .cv {
        margin-left: 39%;
        position: absolute;
        top: 4%;
    }
    .cv object {
        height: 500px;
        width: 820px;
    }
.contact .card {
        margin-bottom: 10px;
        width: 90%;
    }
    .contact .edit .card i {
        font-size: 30px;
    }
    .contact .edit .card h2 {
        font-size: 25px;
    }
}

@media only screen and (min-width: 1600px) {
.sidenav .first-side .cv-cv{
        display: block;
    }
.sidenav .first-side .hr {
        display: block;
    }
.sidenav .sec-side .content{
        margin-top: 15%;
    }
.main {
    margin-left: 36%;
    top: 3%;
    
    
}
.main .pic img {
    margin-top: 15%;
    width: 400px;
    height: 400px;
    
}
.main .text {
    margin-left: 1%;
    margin-top: 6%;
    width: 500px;
}
    .main .text h4 {
        font-size: 25px;
    }
    .main .text h1 {
        font-size: 45px;
    }
    .main .text p {
        font-size: 24px;
    }
.work-examples {
        margin-left: 33%;
    }
.work-examples .work{
    margin-left: -1.5%;
    width: 95%;
    }
    .contact {
        margin-left: 33%;
    }
    .cv {
        margin-left: 33%;
        position: absolute;
        top: 5%;
    }
    .cv object {
        height: 620px;
        width: 1050px;
    }
.contact .card {
        margin-bottom: 30px;
        width: 100%;
    }
}
@media only screen and (min-width: 1800px) {
.sidenav .first-side .cv-cv{
        display: block;
    }
.sidenav .first-side .hr {
        display: block;
    }
.sidenav .sec-side .content{
        margin-top: 15%;
    }
.main {
    margin-left: 35%;
    top: 10%;
    
}
.main .pic img {
    margin-top: 15%;
    width: 450px;
    height: 450px;
}
.main .text {
    margin-left: 5%;
    margin-top: 6%;
    width: 600px;
}
    .main .text h4 {
        font-size: 30px;
    }
    .main .text h1 {
        font-size: 50px;
    }
    .main .text p {
        font-size: 26px;
    }
.work-examples {
        margin-left: 30%;
    }
.work-examples .work{
    margin-left: -1.5%;
    width: 95%;
    }
    .contact {
        margin-left: 30%;
    }
    .cv {
        margin-left: 30%;
        position: absolute;
        top: 5%;
    }
    .cv object {
        height: 1000px;
        width: 1700px;
    }
.contact .card {
        margin-bottom: 10%;
        width: 100%;
    }
}